name: Continuous Integration

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
            node-version-file: '.node-version'
      - name: Install packages
        run: |
          npm ci
      - name: Lint files
        run: |
          npm run lint
      - name: Build site
        run: |
          npm run build
